body {
    font-family: 'playfair_display';
    font-size: 14px;
    color: #626262;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 71px;
}

.navbar-nav .nav-link {
    margin-left: 100px;
    margin-right: 0;
}

.navbar-brand {
    font-family: 'inconsolata';
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 68px;
}

.navbar-light .navbar-toggler {
    margin-top: 4rem;
}

.bg-light {
    background-color: white!important;
}

.container-fluid {
    margin-top: -7rem;
}

.img-fluid {
    margin-top: 1.5rem;
}

.leave {
    opacity: .5;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1062px;
    }
}

.h3, h3 {
    font-size: 1rem;
    padding-top: 104px;
    font-family: 'Ubuntu';
    opacity: 0.5;
    text-transform: uppercase;
}

.h2, h2 {
    padding-top: 26px;
    font-family: 'Playfair Display';
    font-size: 30px;
}

p {
    margin-top: 34px;
    margin-bottom: 1rem;
    font-family: 'Playfair Display Regular';
    font-size: 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
    padding-top: 134px;
    padding-bottom: 31px;
    /* padding-right: 59px; */
}

.tag {
    padding-bottom: 30px;
    font-family: 'Ubuntu';
    font-size: 1rem;
    text-transform: uppercase;
    opacity: .5;
}

.title {
    padding-bottom: 36px;
    font-family: 'Playfair Display Regular';
    font-size: 30px;
    font-weight: bold;
    color: #626262;
    text-decoration-line: none;
}

.title a {
    color: #626262;
    text-decoration-line: none;
}

.content {
    font-family: 'Playfair Display Regular';
    font-size: 1rem;
}

.content a {
    color: #626262;
    text-decoration-line: none;
}

.container-fluid_1 {
    margin-top: 123px;
    margin-bottom: 123px;
    background-color: rgb(235, 221, 221);
    padding-top: 74px;
    padding-bottom: 76px;
}

.text-center {
    padding-bottom: 78px;
    font-family: 'Playfair Display Regular';
    font-size: 2rem;
}



.form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}



.form-control {
    border-bottom: 2px solid seagreen;
    background-color: rgb(235, 221, 221);
    
}

.btn_1 {
    margin-top: 123px;
    margin-left: 45%;
}

.btn-primary {
    color: black;
    background-color: white;
    border-color: rgb(28, 35, 43);
}

.nav_1 {
    margin-top: -103px;
}

.footer {
    margin-top: 100px;
    background-color: gainsboro;
    display: block;
   
}

.nav-link {
    
    font-family: 'Playfair Display Regular';
    font-size: 14px;
}


@media (min-width: 992px) and (max-width: 1199.98px){
    .container {
        max-width: 1062px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px){
    .container {
        max-width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .container {
        max-width: 100%;
            
    }
}

@media (max-width: 575.98px){
    .container {
        max-width: 100%;
        
    }
}