*{
	margin: 0px;
	padding: 0px;

}

#header{
	
	text-align: right;
	position: fixed;
	background-color: #ccc;
	width: 100%;
	height: 60px;
	border-top: 1px solid #bbd7e2;
	border-bottom: 1px solid #bbd7e2;
	top: 0;

	
}

#header a img{

	width: 30px;
	float: left;
	margin-left: 100px;
	margin-top: 15px;
}

#header a span{
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	color: black;
	font-weight: bold;
}

#header ul li {
	display: inline-table;
	
	width: 120px;
	height: 60px;
	line-height: 60px;
}

#header ul li a{
	display: block;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	color: black;
	font-weight: bold;
}

#header ul li a:hover{
	text-align: center;
	
	border-bottom: 4px solid #00adef;
}



#header ul li > #sub-menu{
	display: none;
}

#header ul li:hover #sub-menu{
	background-color: #6b4e4e;
	display: block;
}






#sidebar{
	background-color: white;
	margin-left: 50px;
	margin-top: 90px;
	width: 20%;
	padding: 10px 10px 10px 10px;
	line-height: 50px; 
	float: left;
}

#sidebar span{
	color: #25dc23;
}









#content{
	background-color: white;
	margin-left: 400px;
	margin-top: -920px;
	width: 60%;
	padding: 10px 20px 20px 20px;
	line-height: 66px;
	float: left;


}

#content p img{
	width: 100%;
}

#content h1{
	color: #25dc23;
	
}