.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-body {
    padding: 1.25rem;
    text-align: center;
}

.container {
    text-align: center;
}

